<% comment ||= @post.comments.build%>
<div class='comment_form'>
  <%= form_with model: [ @post, comment ] do |form| %>
    <div class="pressed-comment">
      <%= form.text_area :body, class: 'form-control', rows: "3"%>
    </div>
    <div class="actions " >
      <%= form.submit nil, class: "pressed-button"%>
    </div>
  <% end %>
</div>